astroid==2.11.2
black==22.3.0
click==8.1.2
cycler==0.11.0
dill==0.3.4
fonttools==4.32.0
isort==5.10.1
kiwisolver==1.4.2
lazy-object-proxy==1.7.1
matplotlib==3.5.1
mccabe==0.7.0
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pathspec==0.9.0
Pillow==9.1.1
platformdirs==2.5.1
pylint==2.13.5
pyparsing==3.0.8
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
python-dateutil==2.8.2
scapy==2.4.5
six==1.16.0
tk==0.1.0
tomli==2.0.1
wrapt==1.14.0
